---
import {
  Components,
  Framework,
  getComponentTitle,
  getLogo,
} from "../utils/components"
import FileReader from "./FileReader.astro"
import FrameworkSelector from "./FrameworkSelector"
import ComponentSelector from "./ComponentSelector"

export interface Props {
  framework?: Framework
  component?: Components
}

const { component = Components.HelloWorld, framework = "React" } = Astro.props

const frameworkL = framework.toLowerCase()

const textF = `text-${frameworkL}`
const ringF = `ring-${frameworkL}`
---

<main
  class="pl-0 sm:pl-56 w-full min-h-screen bg-pin flex flex-col justify-between"
>
  <div class="w-full mx-auto leading-7 max-w-7xl px-2 sm:px-4 md:px-8">
    <!-- Page Header -->
    <div
      class="py-6 border-b border-gray-300 text-center lg:text-left lg:flex lg:items-center lg:justify-between"
    >
      <div class="min-w-0 flex-1 relative inline-flex items-center">
        <div class="block mr-3 sm:hidden">
          <a href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-blue-700 group-hover:text-blue-900"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819"
              ></path>
            </svg>
          </a>
        </div>
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
          {getComponentTitle(component)}
          <span class={textF}>-</span>
          {framework}
        </h1>
        <img
          class="hidden ml-2 h-8 w-auto sm:block"
          src={getLogo(framework)}
          alt={`${framework} logo`}
        />
      </div>
      <div class="mt-4 lg:mt-0">
        <FrameworkSelector
          component={component}
          framework={frameworkL}
          client:load
        />
      </div>
      <div class="mt-4 sm:hidden lg:mt-0">
        <ComponentSelector framework={frameworkL} client:load />
      </div>
    </div>

    <!-- Component and Code -->
    <div class="pt-10 pb-4">
      <div class="grid grid-cols-12 space-x-3">
        <div class="ml-3 col-span-12 lg:ml-0 lg:col-span-3 xl:col-span-4">
          <h2 class="text-lg font-medium text-gray-800 sm:text-xl">
            Component
          </h2>

          <div
            class="mt-4 p-5 inline-block border border-gray-200 shadow-lg rounded-lg"
          >
            <slot />
          </div>
        </div>
        <div class="mt-5 col-span-12 lg:mt-0 lg:col-span-9 xl:col-span-8">
          <h2 class="text-lg font-medium text-gray-800 sm:text-xl">
            Source Code
          </h2>
          <FileReader component={component} framework={framework} />
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination Links -->
  <div
    class="border-t border-gray-300 w-full mx-auto max-w-7xl pt-6 pb-16 px-2 sm:pb-6 sm:px-4 md:px-8"
  >
    <div class="flex items-center justify-between">
      {
        component !== Components.HelloWorld ? (
          <a
            href={`/${frameworkL}/${component - 1}`}
            class={`inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-1.5 text-sm font-medium text-gray-700 shadow-sm sm:px-4 sm:py-2 ${ringF} hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2`}
          >
            <svg
              class={`mr-1 h-5 w-5 ${textF}`}
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
                clip-rule="evenodd"
              />
            </svg>
            {getComponentTitle(component - 1)}
          </a>
        ) : (
          <div />
        )
      }

      {
        component !== Components.ListLooping ? (
          <a
            href={`/${frameworkL}/${component + 1}`}
            class={`inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-1.5 text-sm font-medium text-gray-700 shadow-sm sm:px-4 sm:py-2 ${ringF} hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2`}
          >
            {getComponentTitle(component + 1)}{" "}
            <svg
              class={`ml-1 h-5 w-5 ${textF}`}
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        ) : (
          <div />
        )
      }
    </div>
  </div>
</main>
