---
import {
  Components,
  componentsList,
  getComponentTitle,
  getLogo,
} from "../utils/components"
import type { Framework } from "../utils/components"

export interface Props {
  component: Components
  framework: Framework
}
const { component, framework } = Astro.props
---

<div
  class="hidden sm:block fixed h-screen bg-blue-100 border-r border-gray-300"
>
  <div class="flex flex-grow flex-col overflow-y-auto pt-5">
    <div
      class="flex flex-shrink-0 items-center px-4 pb-4 border-b border-gray-300"
    >
      <img
        class="h-8 w-auto"
        src={getLogo(framework)}
        alt={`${framework} logo`}
      />
      <span class="ml-2 font-medium text-lg">{framework}</span>
    </div>
    <nav class="w-56 pr-4">
      <ul class="mt-5 flex flex-1 flex-col">
        {
          componentsList.map((c) => (
            <li>
              <a
                href={`/${framework.toLowerCase()}/${c}`}
                class={
                  "mt-1 block rounded-r-md border-l-4 p-2 px-3 py-2 text-base font-medium text-gray-900 " +
                  (component === c
                    ? "border-l-blue-800 bg-blue-300"
                    : "border-transparent bg-blue-100 transition-colors duration-200 hover:border-l-blue-700 hover:bg-blue-200 focus:border-l-blue-800 focus:bg-blue-300")
                }
              >
                {getComponentTitle(c)}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>
